<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          {{
            confirmation-modal
            model=model
            type=type
          }}
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary delete-service" data-dismiss="modal" style="background-color: red; border-color: black;" {{action 'deleteEmployee'}}>Yes</button>
        <button type="button" class="btn btn-secondary delete-service" data-dismiss="modal" {{action 'goBackToListOfEmployees'}}>No</button>
      </div>
    </div>
  </div>
</div>