<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          {{
            confirmation-modal
            model=model
            type=type
          }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-danger btn-md btn-block" {{action 'deleteEmployee'}}>Yes</button>
        <button type="button" class="btn btn-secondary btn-md btn-block" {{action 'goBackToListOfEmployees'}}>No</button>
      </div>
    </div>
  </div>
</div>