
<div class="management-div">
  <div class="management-title-div">
      <h4><span class="glyphicon glyphicon-user"></span>Manage Employees</h4>
  </div>
  <br />
  <div>
      {{
        management-tables
        model=model
        headers=headers
        attributes=attributes
        operations=operations
        collection=collection
      }}
  </div>
  {{#if currentUser.user.admin}}
    <div class="col-12 text-center">
       {{#link-to 'employees.new' class="btn btn-danger btn-lg" }}
        <span class="glyphicon glyphicon-plus"></span> Add Employee
       {{/link-to}}
    </div>
  {{/if}}
  <br />
</div>
