.user-show-editor {
  display: inline;

  div {
    text-align: right;
  }
}

.delete-user-link {
  margin-top: 20px;
}

.editor-row {
  margin-left: 0px;
}

.editor-label {
  font-weight: bold;
  text-transform: uppercase;
}

/* code to create switch can be found:
http://www.w3schools.com/howto/howto_css_switch.asp
*/

.admin-switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;

  input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #fe0101;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #fe0101;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}

.modal-content {
  .datepicker.datepicker-inline {
    width: 100%;
    .datepicker-days table{
      width: 100%;
    }
  }

  .time-button {
    font-weight: 600;
    background: #AD2A1A;
    color: #e8e7e2;
    box-shadow: 0 5px #888888;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .time-button:hover {
    box-shadow: 0 4px #AD2A1A;
    top: 2px;
  }
}
