.appointment-history-title {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align:center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 5vw;
  font-weight: 400;
  line-height: 58px;
}

.appointment-history-table th h1 {
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  color: #fffaef;
}

.appointment-history-table {
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  border-radius: 10px;
  font-size: 1vw;
}

.appointment-history-table th {
  padding: 2% 2% 0% 0%;
}

.appointment-history-table td {
  padding-right: 2%;
}

.appointment-history-table tr:nth-child(odd) {
  background-color: #fff;
}

.appointment-history-table tr:nth-child(even) {
  background-color: #e3e3e3;
}

.appointment-history-table th {
  background-color: #d30b07;
}

.appointment-history-table td:last-child {
  border-bottom-right-radius: 10px;
}

.appointment-history-table td:first-child {
  border-bottom-left-radius: 10px;
}
