
.employees-table th h1 {
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  color: #fffaef;
}

.employees-table th {
  padding: 2%;
}

.employees-table td {
  padding: 0.5%;
}

.employees-table tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.employees-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.employees-table th {
  background-color: #d30b07;
}

.employees-table tr:hover {
 background-color: #36454f;
 color: #fffaef;
}

.employee-operation {
  padding: 2% 1%;
}

.employee-operation > button > span {
  color: #d30b07;
}

.employee-operation:hover {
  background-color: #fffaef;
  color: #EE2C2C;
}

$breakpoint-alpha: 660px;

.employees-table {

  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  // border-radius: 10px;
  font-size: 1.5vw;

  @media (max-width: $breakpoint-alpha) {
    text-align: left;
    font-size: 2.75vw;

    .employee-operation {

      border: 1px solid black;
      background-image: linear-gradient(to bottom, #fffaef 0%, #ffffff 100%);
      background-image: -webkit-linear-gradient(top, #fffaef 0%, #ffffff 100%);
      background-image: -o-linear-gradient(top, #fffaef 0%, #ffffff 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#fffaef), to(#ffffff));
    }
  }

  th {
    display: none;
  }

  td {
    display: block;

    &:before {
      text-align: left !important;
      content: attr(data-th);
      font-weight: bold;
      width: 10em; //
      display: inline-block;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;

    }

  }

}

.employees-table {
  th, td {
    margin: .5em 1em;
  }
  th, td:before {
    text-align: left;
    color: black;
  }
}

