.employees-table th h1 {
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  color: #fffaef;
}

.employees-table {
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 1.5vw;
}

.employees-table td, .employees-table th {
  padding: 2% 2% 2% 2%;
}

.employees-table tr:nth-child(odd) {
  background-color: #959595;
}

.employees-table tr:nth-child(even) {
  background-color: #e3e3e3;
}

.employees-table th {
  background-color: #d30b07;
}

.employees-table tr:hover {
 background-color: #36454f;
 color: #fffaef;
}

.employee-operation {
  padding: 2% 1%;
}

.employee-operation > button > span {
  color: #d30b07;
}

.employee-operation:hover {
  background-color: #fffaef;
  color: #EE2C2C;
}
