.service-table th h1 {
  font-weight: bold;
  font-size: 1.5vw;
  text-align: center;
  color: #fffaef;
}

.service-table {
  text-align: left;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 1vw;
}

.service-table td, .service-table th {
  padding: 2% 2% 2% 2%;
}

.service-table tr:nth-child(odd) {
  background-color: #959595;
}

.service-table tr:nth-child(even) {
  background-color: #e3e3e3;
}

.service-table th {
  background-color: #d30b07;
}

.service-table tr:hover {
 background-color: #36454f;
 color: #fffaef;
}

