$breakpoint-alpha: 660px;

//Styling for when on computer

@media (min-width: $breakpoint-alpha) {

  .management-div {
    margin: 0 auto;
  }

  .management-table{

    text-align: center;
    overflow: hidden;
    width: 100%;
    font-size: 1.25vw;

    td:nth-child(1) {
      font-weight: bold;
    }
  }
  .management-table th h1 {
    font-weight: bold;
    font-size: 1.75vw;
    text-align: center;
    color: #fffaef;
  }

  .dataTables_length {
    float: left;
  }

  .dataTables_filter {
    float: right;
  }

  .management-table tr:hover {
    background-color: #36454f !important;
    color: #fffaef;
  }

  .management-operation:hover {
    background-color: #fffaef;
    color: #EE2C2C;
  }

 .management-operation {
    display: inline-block;
    margin: .1em;
    padding: 8px;
    text-align: center;
  }

  .dataTables_wrapper {
    max-width: 1000px;
    padding-top: 2em;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
  }

}

//Styling for when on mobile device

@media (max-width: $breakpoint-alpha) {

  text-align: left;
  font-size: 2.75vw;

  thead {
    display: none;
  }

  .management-operation {
    border: 1px solid black;
    display: inline-block;
    margin: .1em;
    padding: 8px;
    float: right;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(to bottom, #fffaef 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #fffaef 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #fffaef 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fffaef), to(#ffffff));
  }

  .management-operation:hover {
    background: #36454f;
  }

  th {
    display: none;
  }

  .management-column {
    display: none;
    margin: 0px;
  }

  .management-table-body{
    tr td:nth-child(1) {
      width: 70%;
      font-size: 3.5vw;
      font-weight: bold;
      display: block;
      margin: 0px 0px 0px 16px;;
    }

    tr td:nth-child(2) {
      display: block;
      font-size: 2.4vw;
      width: 75%;
      margin: 0px 0px 0px 16px;

      &:before {
        content: attr(data-th);
      }
    }
  }

  .management-buttons {
    width: 65%;
  }
}

// Styling for both mobile and computer
.management-div {
  .nav {
      background-color: #f9f9f9;
      border: none;
    }

    .nav .nav-item .active {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 0.65em solid red;
      background-color: #f9f9f9;
      color: black;
    }

    .nav .nav-item a {
      border-radius: 0px;
      background-color: #f9f9f9;
      color: #d3d3d3;
      margin: 0px;
    }

    .nav .nav-item a:hover {
      border: none;
      border-bottom: 0.65em solid red;
    }
}

.management-title-div {

    background-color: linear-gradient(to bottom, #d30b07 0%, #7a2828 80%);
    background-image: -webkit-linear-gradient(top, #d30b07 0%, #7a2828 80%);
    background-image: -o-linear-gradient(top, #d30b07 0%, #7a2828 80%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d30b07), to(#7a2828));

  h4, h4:after {
    font-weight: 400;
    color: #fffaef;
  }

  h4 {
    font-size: 2em;
    line-height: 2em;
    font-weight: normal;
    text-shadow: 0 0.5px 0.5px #fff;
    margin: 0px;

    span {
      margin: 0px 0.5em;
    }
  }
}

.management-column, .management-table th {
  padding: 2% 2% 2% 2%;
}

.management-table tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.management-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.management-table th {
  background-color: #d30b07;
}

.management-toggle-menu {
  padding: 20%;
  font-size: 1.5vw;
}

.management-table {
  th, td {
    margin: 1em 1em;
  }
  th, td:before {
    text-align: left;
    color: black;
  }
}

.management-icon {
  padding: 10px 30px;
  white-space: nowrap;

  span {
    color: #d30b07;
  }
}

table.dataTable thead .sorting {
  background-image: url("/assets/images/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("/assets/images/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("/assets/images/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("/assets/images/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("/assets/images/sort_desc_disabled.png");
}
