.service-table th h1 {
  font-weight: bold;
  font-size: 1.75vw;
  text-align: center;
  color: #fffaef;
}

.service-table {
  text-align: center;
  overflow: hidden;
  width: 100%;
  padding-right: 15px;
  border-radius: 15px;
  font-size: 1.25vw;
}

.service-column, .service-table th {
  padding: 2% 2% 2% 2%;
}

.service-operation {
  padding: 2% 1%;
}

.service-operation > button > span {
  color: #d30b07;
}

.service-operation:hover {
  background-color: #fffaef;
  color: #EE2C2C;
}

.service-table tr:nth-child(odd) {
  background-color: #959595;
}

.service-table tr:nth-child(even) {
  background-color: #e3e3e3;
}

.service-table th {
  background-color: #d30b07;
}

.service-table tr:hover {
 background-color: #36454f;
 color: #fffaef;
}

.service-toggle-menu {
  padding: 20%;
  font-size: 1.5vw;
}

.delete-service {
  padding: 2.5% 7.5%;
  margin: 0% 10%;
}
