$breakpoint-alpha: 660px;

//Styling for when on computer

@media (min-width: $breakpoint-alpha) {

  .management-table{

    text-align: center;
    overflow: hidden;
    width: 100%;
    font-size: 1.5vw;
  }
  .management-table th h1 {
    font-weight: bold;
    font-size: 1.75vw;
    text-align: center;
    color: #fffaef;
  }

  .dataTables_length {
    float: left;
  }

  .dataTables_filter {
    float: right;
  }
}

//Styling for when on mobile device

@media (max-width: $breakpoint-alpha) {

  text-align: left;
  font-size: 2.75vw;

  th {
    display: none;
  }

  td {
    display: block;

    &:before {
      text-align: left !important;
      content: attr(data-th);
      font-weight: bold;
      width: 10em;
      display: inline-block;

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  .dataTables_length {
    float: left;
  }

  .dataTables_filter {
    float: left;
  }
}

// Styling for both mobile and computer

.management-column, .management-table th {
  padding: 2% 2% 2% 2%;
}

.management-table tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.management-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.management-table th {
  background-color: #d30b07;
}

.management-table tr:hover {
 background-color: #36454f;
 color: #fffaef;
}

.management-toggle-menu {
  padding: 20%;
  font-size: 1.5vw;
}

.management-table {
  th, td {
    margin: 1em 1em;
  }
  th, td:before {
    text-align: left;
    color: black;
  }
}

