$breakpoint-alpha: 768px;

//Styling for when on computer

@media (min-width: $breakpoint-alpha) {


}

//Styling for when on mobile device

@media (max-width: $breakpoint-alpha) {

  .settings{
    #account-detail-setting, #account-address-setting,
     #account-login-setting {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
    }

    .nav {
      background-color: #f9f9f9;
      border: none;
    }

    .nav .nav-item .active {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 2px solid red;
      background-color: #f9f9f9;
      color: black;
    }

    .nav .nav-item a {
      border-radius: 0px;
      background-color: #f9f9f9;
      color: #d3d3d3;
      margin: 0px;
      text-align: center;
    }

    .nav .nav-item a:hover {
      border: none;
      border-bottom: 2px solid red;
    }

    label {
      text-align: left;
    }

    .settings-input {
      width: 100%;
      border-bottom: 1.5px dotted #d3d3d3;
      border-top: none;
      border-left: none;
      border-right: none;

    }

    .settings-read-only {
      width: 100%;
      border: none;
      text-align: center;
    }

    .settings-username {
      width: 60%;
      border: none;
    }

    .street-info-container {
      width: 100%;

      .street-number-label {
        width: 25%;
        float: left;
      }

      .street-name-label {
        width: 70%;
        float: right;
      }
    }

    .settings-input-street-number {
      width: 100%;
      border-bottom: 1.5px dotted #d3d3d3;
      border-top: none;
      border-left: none;
      border-right: none;

    }

    .settings-input-street-name {
      width: 100%;
      border-bottom: 1.5px dotted #d3d3d3;
      border-top: none;
      border-left: none;
      border-right: none;

    }

    .setings-title {
      background-color: #DCDCDC;
    }

    #user-start-date {
      font-size: small;
    }


    .accordion {

      background-color:#f9f9f9;
      margin-bottom: 20px;

      .card-block {
        border: 1px solid #eee;
        border-top: 0px;
      }

      .accordion-title {

        background-color: #EE2C2C;
        text-align:center;
        font-weight:600;
        padding: 1em;
        display:block;
        text-decoration:none;
        color:#fff;
        transition:background-color 0.5s ease-in-out;

        &:before {
          content: "+";
          font-size:1.5em;
          line-height:0.5em;
          float: left;
          transition: transform 0.3s ease-in-out;
        }

        &:hover {
          background-color:darken(#EE2C2C, 10%);
        }
      }
    }
  }
}

.setings-title {

  padding: 80px 10px 20px 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
