<div class="login-box animated fadeInUp">
  <form class="form-signin" {{action 'authenticate' on='submit'}}>
    <div class="box-header">
      <h2>Login</h2>
    </div>

    <div class="form-group">
      <label for="inputEmail">Email Address</label>
      <br />
      {{input value=model.email id="inputEmail" class="form-control" required=true autofocus=true}}
    </div>

    <div class="form-group">
      <label for="inputPassword">Password</label>
      <br />
      {{input value=model.password type="password" id="inputPassword" class="form-control" required=true}}
    </div>

    <div class="checkbox">
      <label>
        {{input type="checkbox" checked=model.remember_me}} Remember me
      </label>
    </div>
    <br />
    <button type="submit" class="btn btn-danger">SIGN IN</button>
  </form>
</div>