<table id="has-datatable" class="management-table" width="100%">
    <thead>
      <tr>
        {{#each headers as |header|}}
          <th><h1>{{header}}</h1></th>
        {{/each}}
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="management-table-body">
      {{#each model as |m|}}
        <tr class="management-table-row">
          {{#each-in attributes as |key value|}}
          <td class="management-column" data-th="{{value}}">
            {{get m key}}
          </td>
          {{/each-in}}
          <td class='management-operation'>
            {{#link-to t (concat collection '.show') m class="management-icon"}}
              <span class="glyphicon glyphicon-pencil" style="color:#d30b07;"></span>
            {{/link-to}}
          </td>
          <td class='management-operation'>
            {{#link-to t (concat collection '.delete') m class="management-icon"}}
              <span class="glyphicon glyphicon-minus" style="color:#d30b07;"></span>
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br />
