<nav class="navbar navbar-fixed-top navbar-light bg-faded menu">
  <div class="navbar-header">
    <img src="/assets/images/logo.png" class='logo' width="150px" height="55px">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation" style='color: white; margin-left: 2%;'>
    &#9776;
    </button>
  </div>
  <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
    <ul class="nav navbar-nav">
      {{#if session.isAuthenticated}}
      <li class="nav-item">{{#link-to 'my-calendar' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-calendar"></span> Schedule{{/link-to}}</li>
      <li class="nav-item">{{#link-to 'clients' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Customers{{/link-to}}</li>
      <li class="nav-item">{{#link-to 'employees' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Staff{{/link-to}}</li>
      <li class="nav-item">{{#link-to 'services' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-tag"></span> Services{{/link-to}}</li>
      {{!-- <li class="nav-item">{{#link-to 'appointment-history' class='nav-link nav-list-item'}}Appointment History{{/link-to}}</li> --}}
      <li class="nav-item">{{#link-to 'my-account' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-cog"></span> Settings{{/link-to}}</li>
      <li class="nav-item"><button type="button" class="btn btn-outline-danger nav-list-item" {{action 'invalidateSession'}}><span class="glyphicon glyphicon-off"></span> Logout</button></li>
    {{else}}
      <li class="nav-item">{{#link-to 'login' class='nav-link nav-list-item'}}Login{{/link-to}}</li>
    {{/if}}
    </ul>
  </div>
</nav>
