<div class="modal fade" id="user-account-editor" tabindex="-1" role="dialog" aria-labelledby="user-account-editor-show" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" {{action 'goBackToListOfEmployees'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="user-account-editor-show">Modify User Account</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{
            user-account-editor
            model=model
          }}
        </div>
      </div>
      <div class="modal-footer">
        {{#link-to 'users.delete' model.id}}
          <button type="button" class="btn btn-tertiary btn-danger btn-md btn-block" >Delete Account</button>
        {{/link-to}}
        <button type="button" class="btn btn-secondary" {{action 'goBackToListOfEmployees'}}>Close</button>
        <button type="button" class="btn btn-primary" {{action 'updateUser'}}>Save changes</button>
      </div>
    </div>
  </div>
</div>


