{{
  navigation-bar
  session=session
  currentUser=currentUser
  handleNewAppointment=(action 'handleAddNewAppointment')
  handleNewClient=(action 'handleAddNewClient')
}}
<main role="main" id="main">
  {{outlet}}
</main>
