<div class="top-thank-you-page" style="padding-top: 50px; background-color: #292b2c; margin-bottom: 30px;">

</div>
<div class="thank-you text-center" style="border: 1px black solid;
  z-index: 15;
  width: 75%;
  margin: 0 auto;">
  <span class="glyphicon glyphicon-ok-sign" style="font-size: 300%; color: green; margin-top: 20px"></span>
  <h2 style="margin-top: 20px">Thank You!</h2>
  <img src="/assets/images/logo.png" class='logo-thank-you' width="50%">
  <p>Thank you for booking with us at R &amp; Detailing. <br /> An e-mail with you booking details should arrive soon.</p>
  {{#link-to 'book-an-appointment' class="button"}}<span class="glyphicon glyphicon-book"></span> Book An Appointment{{/link-to}}
  <a class="nav-link" href="http://www.radetailing.ca/"><span class="glyphicon glyphicon-home"></span> Home</a>
</div>
