<div class="manage-employees" style="overflow-x:auto;">
  <h3 class="page-title">Manage Employees</h3>
  <table class="employees-table">
    <thead>
      <tr>
        <th><h1>Employee ID</h1></th>
        <th><h1>Last Name</h1></th>
        <th><h1>First Name</h1></th>
        <th><h1>Email</h1></th>
        <th><h1>Address</h1></th>
        <th><h1>Phone</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>Jeff</td>
        <td>Bob</td>
        <td>bob@gmail.com</td>
        <td>230 Forestbrook Street</td>
        <td>613-333-6532</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Steve</td>
        <td>Jenna</td>
        <td>j89@gmail.com</td>
        <td>230 Forestbrook Street</td>
        <td>613-333-8532</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Ross</td>
        <td>Joseph</td>
        <td>jos82@yahoo.com</td>
        <td>230 Forestbrook Street</td>
        <td>613-333-9532</td>
      </tr>
    </tbody>
  </table>
   <div class="buttons">
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
