<div class='container'>
  <div class="schedule">
    <div class="calendar-view">
      {{full-calendar
        header=calendarHeader
        aspectRatio=1
        viewName=viewName
        fixedWeekCount=false
        dayClick=(action 'handleCalendarDayClick')
      }}
    </div>
    {{#if computedTotal}}
      <div class="total-cost-this-week">
        Total revenue this week: {{computedTotal}}
      </div>
    {{/if}}
    <div class="week-view">
      {{full-calendar
        header=false
        events=computedEvents
        viewName=viewName2
        eventClick=(action 'handleCalendarEventClick')
      }}
    </div>
    {{outlet}}
  </div>
</div>
