<div class='container'>
  <div class="schedule">
    <div class="calendar-view">
      {{full-calendar
        header=calendarHeader
        aspectRatio=1
        viewName=viewName
        dayClick=(action 'handleCalendarDayClick')
      }}
    </div>
    <div class="week-view">
      {{full-calendar
        events=computedEvents
        viewName=viewName2
        eventClick=(action 'handleCalendarEventClick')
      }}
    </div>
    {{outlet}}
  </div>
</div>
<div class="total-cost-this-week">
  Total cost this week: $99
</div>
