<div class="manage-services" style="overflow-x:auto;">
  <h3 class="page-title">Manage Services</h3>
  <table class="service-table">
    <thead>
      <tr>
        <th><h1>List of Services</h1></th>
        <th><h1>Duration</h1></th>
        <th><h1>Price for Small Vehicle</h1></th>
        <th><h1>Price for Large Vehicle</h1></th>
        <th><h1>Description</h1></th>
      </tr>
    </thead>
    <tbody class="service-table-body">
      <tr class="service-table-row">
        <td><strong>Engine Degreasing</strong></td>
        <td>90 mins</td>
        <td>$99</td>
        <td>$99</td>
        <td>...
        </td>
      </tr>
      <tr class="service-table-row">
        <td><strong>Platinum</strong></td>
        <td>150 mins</td>
        <td>$159</td>
        <td>$179</td>
        <td>...</td>
      </tr>
      <tr class="service-table-row">
        <td><strong>Silver</strong></td>
        <td>90 mins</td>
        <td>$79</td>
        <td>$99</td>
        <td>...</td>
      </tr>
      <tr>
        <td><strong>Shampoo for Tough Stains or Spills</strong></td>
        <td>90 mins</td>
        <td>$100</td>
        <td>$130</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="buttons">
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>