<div class="manage-services" style="overflow-x:auto;">
  <h3 class="page-title">Manage Services</h3>
  <table class="service-table">
    <thead class="service-table-head">
      <tr class="service-table-row">
        <th class="service-table-head-column">List of Services</th>
        <th class="service-table-head-column">Duration</th>
        <th class="service-table-head-column">Price for Small Vehicle</th>
        <th class="service-table-head-column">Price for Large Vehicle</th>
        <th class="service-table-head-column">Description</th>
      </tr>
    </thead>
    <tbody class="service-table-body">
      <tr class="service-table-row">
        <td><strong>Engine Degreasing</strong></td>
        <td>90 mins</td>
        <td>$99</td>
        <td>$99</td>
        <td>...
          <li class="full-description">
            <a class="marker-icon" href="#">Description</a>
            <div class="full-description-info">
                <div class="full-description-info-inner animate-bounce-in">
                    <main>
                        <p>More Info....</p>
                    </main>
                </div>
            </div>
        </li>
        </td>
      </tr>
      <tr class="service-table-row">
        <td><strong>Platinum</strong></td>
        <td>150 mins</td>
        <td>$159</td>
        <td>$179</td>
        <td>...</td>
      </tr>
      <tr class="service-table-row">
        <td><strong>Silver</strong></td>
        <td>90 mins</td>
        <td>$79</td>
        <td>$99</td>
        <td>...</td>
      </tr>
      <tr class="service-table-row">
        <td><strong>Shampoo for Tough Stains or Spills</strong></td>
        <td>90 mins</td>
        <td>$100</td>
        <td>$130</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
