<div class="modal fade" id="services-delete-modal" tabindex="-1" role="dialog" aria-labelledby="services-delete" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          {{
            confirmation-modal
            model=model
            type=type
          }}
        </div>
      </div>
      <div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-primary btn-danger btn-md btn-block" {{action 'deleteService'}}>Yes</button>
        <button type="button" class="btn btn-secondary btn-md btn-block" {{action 'goBackToListOfServices'}}>No</button>
      </div>
    </div>
  </div>
</div>