<div class="manage-services" style="overflow-x:auto;">
  <h3 class="page-title">Manage Services</h3>
  <br>
  {{
    management-tables
    model=model
    headers=headers
    attributes=attributes
    collection=collection
  }}
  <div class="buttons service-button">
    <button onclick={{action "handleAddNewService"}} class="managing">
      <span class="glyphicon glyphicon-plus"></span> <span>Add New Service</span>
    </button>
  </div>
  {{outlet}}
</div>