<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" {{action 'goBackToListOfServices'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">New Service</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{
            service-editor
            model=model
          }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" {{action 'goBackToListOfServices'}}>Close</button>
        <button {{action 'saveService'}} type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
