<div class="booking-complete-style" id="booking-complete-style">
  <div class="top-thank-you-page">
  </div>
  <div class="thank-you text-center">
    <div class="thank-you-message">
       <span class="check-glyphicon glyphicon glyphicon-ok-sign"></span>
      <h2>Thank You!</h2>
      <img src="/assets/images/logo.png" class='logo-thank-you'>
      <p>Thank you for booking with us. <br /> An e-mail with you booking details should arrive soon.</p>
      <div class="options-after-booking">
        {{#link-to 'book-an-appointment' class="btn btn-primary col-5"}}<span class="glyphicon glyphicon-book"></span> Book An Appointment{{/link-to}}
        <a class="btn btn-danger col-5" href="http://www.radetailing.ca/"><span class="glyphicon glyphicon-home"></span> Home</a>
    </div>
    </div>
  </div>
</div>
