.my-information{
  padding: 10px;
  text-align: center;
  border-color: black;
  border-style: solid;
}

.my-information label {
  display: block;
  margin: 0px 0px 15px 0px;
}

.my-information label > span{
  width: 100px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 5px;
}

.account-info-title {
  padding-top: 70px;
  text-align:center;
  color: #959595;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 45px;
  font-weight: 300;
  line-height: 58px;
  margin: 0 0 58px;
}

.button-color {
  background-color:#EE2C2C !important;
  border: none !important;
}
