@import 'bootstrap';

@import "administrator-styles/admin-editors";
@import "administrator-styles/appointment-history";
@import "administrator-styles/manage-clients";
@import "administrator-styles/management-table";
@import "administrator-styles/settings";
@import "login";
@import "client-booking";
@import "my-calendar";
@import "nav-menu";

$break-small: 320px;
$break-large: 1024px;

body {
  @media (min-width: $break-small) {
    transition: background-color .5s;
  }
}

.page-title {
  padding-bottom: 20px;
  text-align:center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 6vw;
  color: #959595;
  font-weight: 300;
  line-height: 58px;
}

.managing:hover{
  cursor: pointer;
  cursor: hand;
  opacity: 0.75;
}

.admin-container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 2%;
  padding-right: 2%;
}

@import "ember-power-select";
