.login {
  background-image: url(images/login.png);
}

.form-div {
  padding-top: 100px;
}
.form-signin {
  text-align: center;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #e3e3e3;
  border: 1px solid #EE2C2C;
  border-radius: 10%;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.ember-checkbox {
  color: white;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-button {
  background-color: #EE2C2C;
  border: 1px solid #EE2C2C;
  color: #fffaef;
}
