$break-small: 320px;
$break-large: 1024px;

.calendar-view {
  .fc-row .fc-content-skeleton td {
    border-color: inherit;
  }

  .fc-unthemed td.fc-today {
    background: red;
    color: white;
  }

  .fc button {
    @media (min-width: $break-small) {
      height: auto;
      padding: 0;
      text-transform: uppercase;
    }
  }

  .fc-scroller.fc-day-grid-container {
    .selected-week {
      @media (min-width: $break-small) {
        background-color: #eeeeee;
      }
    }
  }

  .fc-row.fc-week.fc-widget-content {
    @media (min-width: $break-small) {
      min-height:1em;
      // height: 2em !important;
      max-height: 3em;
    }
  }

  .fc-basic-view.fc-body.fc-row {
    @media (min-width: $break-small) {
      min-height:2em;
    }
  }

  .fc-center h2 {
    @media (min-width: $break-small) {
      font-size: 1em;
      text-transform: uppercase;
    }
  }
  .fc-scroller.fc-day-grid-container {
    @media (min-width: $break-small) {
      height: auto !important;
    }
  }

  .fc-toolbar.fc-header-toolbar {
    @media (min-width: $break-small) {
      margin-top: 0.17em;
      margin-bottom: 0.17em;
    }
  }
}

.week-view {
  margin-top: 0.17em;
}

.total-cost-this-week {
  text-transform: uppercase;
  text-align: center;
}

.modal-footer {
  .btn-group {
    width: 100%;
    .btn.btn-primary {
      width: 50%;
    }
    .btn.btn-secondary {
      width: 50%;
    }
  }
}
