/*Style for the navigation bar*/

// .navbar-toggler {
//   padding-top: 10px;
//   color: #fffaef;
//   border-color: #fffaef;
//   border-style: solid;
//   border-width: thin;
//   margin-bottom: 15px;
//   margin-top: 10px;
// }
//
// .navbar {
//   background-color: black;
//   padding: 0;
// }
//
// .nav-list-item {
//   color:#e3e3e3 !important;
// }
// .nav-list-item:hover {
//   color:#fffaef ;
// }
//
// .logo{
//   float: right;
// }
//
// .menu {
//   width:100%;
//   margin:0px auto;
//   float: right;
// }
//
// .nav-item {
//   list-style:none;
//   padding: 1%;
//   height: 55px;
// }
//
// .menu a {
//   transition:all linear 0.15s;
//   color:#fffaef;
//   font-weight: normal;
// }
//
// .menu .nav-item:hover {
//   background-color: #EE2C2C;
// }
//
// .menu > ul > li {
//   float:left;
//   display:inline-block;
//   position:relative;
//   font-size:19px;
// }
//
// .menu > ul > li > a {
//   padding:10px 40px;
//   display:inline-block;
//   text-shadow:0px 1px 0px rgba(0,0,0,0.4);
// }
//
// .dropdown-menu {
//   padding:5px 0px;
//   position:absolute;
//   top:100%;
//   left:0px;
//   z-index:-1;
//   transition:opacity linear 0.15s;
//   box-shadow:0px 2px 3px rgba(0,0,0,0.2);
//   background:#959595;
//   display: block;
//   display: none;
//   margin: 0;
//   z-index:1;
// }
//
// .dropdown-item.active {
//   background-color: #EE2C2C;
// }
//
// .dropdown-item.active {
//   background-color: #EE2C2C;
// }
//
// .dropdown-item:hover, .dropdown-item.active:hover{
//   background-color: #fffaef;
//   color: #EE2C2C;
// }

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

    @media screen and (max-height: 450px) {
      padding-top: 15px;
    }
}

/* The navigation menu links */
.sidenav a {
    // padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.17em;
    color: #818181;
    display: block;
    transition: 0.3s;

    @media screen and (max-height: 450px) {
      font-size: 18px;
    }
}


.sidenav {
  .nav-list-item.navbar-text {
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 1em;
    border-bottom: 0.07em solid;
    width: 100%;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0em;
  }

  .btn-outline-primary {
    border-color: transparent;
  }

  .nav-item:hover {
    background-color: inherit;
  }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-header {
  .btn-outline-primary {
    border-color: transparent;
  }
}
