.navbar-main {
  min-height: 3em;
}

/* The side navigation menu */

.mySidenav {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  position: absolute;
  right: 1rem;

  .glyphicon-plus {
    color: white;
    display: inline-block;
    width: 1.5em; height: 1.5em;
    vertical-align: middle;
  }
}

.sidenav {

  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  @media screen and (max-height: 450px) {
    padding-top: 15px;
  }

  a {
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;

    @media screen and (max-height: 450px) {
      font-size: 18px;
    }
  }

  .sidenav-p {
    max-width: 200px;
    width: 200px;
    color: #fffaef;
    font-size: 1.5em;
    padding-left: 1em;
    border-bottom: 0.07em solid;
    width: 100%;
  }

  .nav-item {
    .btn {
      width: 100%;
      text-align: left;
      background-color: #111;
      color: #fffaef;
    }

    .btn:hover {
      color: #BE2625;
      background-color: #fffaef;
    }
  }

  /* Position and style the close button (top right corner) */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

